@model BrewDayAPP.IngredientRecipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IngredientRecipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AbsolutQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbsolutQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbsolutUnitMeasure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbsolutUnitMeasure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipies.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipies.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
