@model IEnumerable<BrewDayAPP.IngredientRecipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { Controller = "IngredientRecipes", action = "Create",  recipiesID = Request.Params["recipiesID"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsolutQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsolutUnitMeasure)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Recipies.Description)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbsolutQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbsolutUnitMeasure)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Recipies.Description)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID, recipiesID = Request.Params["recipiesID"] }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
