@model IEnumerable<BrewDayAPP.RecipiesOfTheDay>

@{
    ViewBag.Title = "Recipies of the day";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.batchSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.batchSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
    </tr>
    }
</table>
